<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <img src="/images/profile.jpeg">
        {{>footer}}
    </body>
</html>