<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <form>
            <input>
            <button>Submit</button>
        </form>
        <p id="message-1" class="msg"></p>
        <p id="message-2" class="msg"></p>
        <p id="error-message" class="msg"></p>
        {{>footer}}
        <script src="/js/local-app.js"></script>
    </body>
</html>